@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body, html{
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #D8BFD8;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#name{
    color: #444;
    margin-bottom: 0;
}

#progress, #currentScore, #highScore {
    margin-bottom: 5px;
}

#game-container{
    width: 420px;
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    margin: 20px;
}

#game-setup{
    margin: 10px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#start-btn{
    margin-top: 10px;
    padding: 12px 32px;
    cursor: pointer;

}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    justify-content: center;
    margin: 20px auto;
}

.box{
    width: 100px;
    height: 100px;
    background-color: #ddd; 
    border: 1px solid #bbb;
    cursor: pointer;
    border-radius: 8px;
}

.light{
    background-color: #dda0dd;
}

.correct{
    background-color: green;
}

.incorrect{
    background-color: red;
}